TELEGRAM_API_TOKEN=*your token*
URL="https://hotels4.p.rapidapi.com/locations/search"
URL_LOW="https://hotels4.p.rapidapi.com/properties/list"
URL_PHOTOS="https://hotels4.p.rapidapi.com/properties/get-hotel-photos"
RAPID_API_KEY=*your token*